<!DOCTYPE html>
<html>

<head>
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
        }
        span {
            margin: 10px 0;
            display: block;
        }
    </style>

</head>

<body>
    <div class="container">
        <span>Oi, {{name}}</span>
        <br />

        <span>Você solicitou a confirmação de email</span>
        <span>Para realizá-la, clique
            <a href={{link}}>aqui</a>
        </span>

        <span>Caso não tenha sido você quem solicitou confirmação de email, sugerimos que acesse seu perfil no Bola 10 e
            altere sua senha.</span>

        <strong>Obrigado!</strong>

        <h3>Equipe | <strong>Email Sender</strong></h3>
    </div>
</body>

</html>